<!DOCTYPE html>
<html lang="en">
@{ Layout = null; }
<!-- Mirrored from coderthemes.com/adminto/layouts/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 06 May 2022 10:16:35 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/assets/images/loginicon.ico">

    <!-- App css -->

    <link href="~/Content/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- icons -->
    <link href="~/Content/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

</head>

<body class="loading authentication-bg authentication-bg-pattern">

    <div class="account-pages my-0">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <div class="text-center">
                        <a href="index.html">
                            <img src="~/Content/assets/images/ren_transparent.png" alt="280" height="280" class="mx-auto">
                        </a>
                        <p class="text-muted mt-2 mb-4">Login </p>

                    </div>
                    <div class="card">
                        <div class="card-body p-4">

                            <div class="text-center mb-4">
                                <h4 class="text-uppercase mt-0">Sign In</h4>
                            </div>

                            <form method="post">
                                <div class="mb-3">
                                    <label for="UserName" class="form-label">User Name</label>
                                    <input class="form-control" type="text" id="UserName" name="UserName" required="" placeholder="Enter your user name">
                                </div>

                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input class="form-control" type="password" required="" id="Password" name="Password" placeholder="Enter your password">
                                </div>

                                <div class="mb-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox-signin" checked>
                                        <label class="form-check-label" for="checkbox-signin">Remember me</label>
                                    </div>
                                </div>
                                <p class="text-warning">@ViewBag.Mesaj</p>
                                <div class="mb-3 d-grid text-center">
                                    <button class="btn btn-primary" type="submit"> Log In </button>
                                </div>
                            </form>

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <!-- Vendor -->
    <script src="~/Content/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Content/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/Content/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/Content/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="~/Content/assets/libs/feather-icons/feather.min.js"></script>

    <!-- App js -->
    <script src="~/Content/assets/js/app.min.js"></script>

</body>

<!-- Mirrored from coderthemes.com/adminto/layouts/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 06 May 2022 10:16:36 GMT -->
</html>