@model  List<HospitalApp.Models.Department>
@{ ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int i = 0; }

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">


            <!--- end row -->


            <div class="row">


                <div class="col-lg-12">
                    <div style="background-color: #A9AF7E" class="card">
                        <div class="card-body">
                            <h4 class="header-title">Room Create</h4>

                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="post">

                                        <div class="mb-3">
                                            <label for="Name" class="form-label">Room Name</label>
                                            <input type="text" id="Name" name="Name" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label for="Capacity" class="form-label">Capacity</label>
                                            <input type="text" id="Capacity" name="Capacity" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label for="State" class="form-label">State</label>
                                            <input type="text" id="State" name="State" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label for="RoomPrice" class="form-label">Room Price</label>
                                            <input type="text" id="RoomPrice" name="RoomPrice" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label for="Department" class="form-label ">Department</label>
                                            <select id="DepartmentId" name="DepartmentId" class="form-control ">
                                                @foreach (var cat in Model)
                                                {
                                    <option value="@cat.Id">@cat.Name</option>
}

                                            </select>

                                        </div>
                                       
                                        <br />
                                        <div class="mb-3">
                                            <label for="IsActive" class="form-label">Is Active</label>
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            <input type="checkbox" id="IsActive" name="IsActive" class="form-check-input"
                                                   value="true" data-val="true" checked="checked">
                                        </div>
                                        <br />
                                        <p class="text-blue">@ViewBag.mesaj</p>
                                        <br />
                                        <br />
                                        <button type="submit" class="btn btn-dark">Save</button>

                                    </form>
                                </div> <!-- end col -->
                            </div>
                            <!-- end row-->

                        </div> <!-- end card-body -->
                    </div>
                </div>


            </div>
        </div>


    </div> <!-- container-fluid -->
</div> <!-- content -->
<!-- Footer Start -->
<!-- end Footer -->
</div>