
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2></h2>


    <!-- header section start -->
 

    <!-- header section end -->
    <!-- banner section start -->
    <div class="banner_section layout_padding">

        <div class="container">

            <div id="costum_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h1 style="opacity:0.8" class="furniture_text">REN</h1>
                        <p class="there_text">
                            REN Hospitals Group was founded in 1995. He opened his first hospital in Istanbul-Fatih. Over time, it grew by opening
                            new branches in places such as Sultangazi and Bursa. Today, REN Group; With 15 Hospitals,
                            2 Medical Centers and 2 Hospital Complexes, a total of 19 hospitals and more than 9000 employees serve in all regions of Turkey.
                        </p>
                        <div class="contact_bt_main">
                            <div class="contact_bt"><a href="contact.html">Contact Us</a></div>
                        </div>
                    </div>


                </div>
                <a class="carousel-control-prev" href="#costum_slider" role="button" data-slide="prev">
                    <i class=""><img src="~/Content/assets/images/left-arrow.png"></i>
                </a>
                <a class="carousel-control-next" href="#costum_slider" role="button" data-slide="next">
                    <i class=""><img src="~/Content/assets/images/right-arrow.png"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- banner section end -->
    <!-- services section start -->
    <div class="services_section layout_padding">
        <div class="container">
            <h1 class="services_taital">our services</h1>
            <p class="many_taital">There are many variations of passages of Lorem Ipsum </p>
            <div class="services_section2 layout_padding">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="icon_1"><img src="~/Content/assets/images/home.png"></div>
                        <h2 class="furnitures_text">About</h2>
                        <p class="dummy_text">There are many variations of passages of Lorem Ipsum available, but the</p>
                        <div class="read_bt_main">
                            <div class="read_bt"><a href="~/AdminUser/Index" target="_blank">Read More</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="icon_1"><img src="~/Content/assets/images/doctors.png"></div>
                        <h2 class="furnitures_text">Doktors</h2>
                        <p class="dummy_text">There are many variations of passages of Lorem Ipsum available, but the</p>
                        <div class="read_bt_main">
                            <div class="read_bt"><a href="#">Read More</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="icon_1"><img src="~/Content/assets/images/basarilar.png"></div>
                        <h2 class="furnitures_text">Achievements</h2>
                        <p class="dummy_text">There are many variations of passages of Lorem Ipsum available, but the</p>
                        <div class="read_bt_main">
                            <div class="read_bt"><a href="#">Read More</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="icon_1"><img src="~/Content/assets/images/employees.png"></div>
                        <h2 class="furnitures_text">Employees</h2>
                        <p class="dummy_text">There are many variations of passages of Lorem Ipsum available, but the</p>
                        <div class="read_bt_main">
                            <div class="read_bt"><a href="#">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- services section end -->
    <!-- about section start -->
    <div style="background-color: #2C3333" class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 style="background-color: #2C3333" class="about_text">About Us</h1>
                    <p class="lorem_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believableThere are many variations of passages of Lorem Ipsum available, but the majority have able</p>
                    <div class="read_bt1"><a href="#">Read More</a></div>
                </div>
                <div class="col-md-6">
                    <div><img src="~/Content/assets/images/resim1.png"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- about section end -->
    <!-- furnitures section start -->
    <!-- furnitures section end -->
    <!-- who section start -->
    <!-- who section end -->
    <!-- projects section start -->
    <!-- projects section end -->
    <!-- client section start -->
    <!-- client section end -->
    <!-- contact section start -->
 
    <!-- contact section end -->
    <!-- footer section start -->


    <!--  footer section end -->
    <!-- copyright section start -->



